.badge {
  --text-primary: var(--background-900);

  background: var(--background-100);
  box-shadow:
    0px 12px 8px rgba(0, 0, 0, 0.4),
    inset 0px 1px 1px oklch(var(--lch-white));
  border-radius: 20px;
  padding: 0 var(--spacing-xxs);
  line-height: 1.4em;
  text-transform: capitalize;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  height: var(--spacing-sm);
}
