.backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--background-1000);
  opacity: 0.8;
  transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.popup {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  max-width: calc(100vw - 3rem);
  margin-top: -2rem;
  padding: var(--spacing-sm);
  border-radius: 0.5rem;
  background: linear-gradient(var(--main-background));
  transition: all 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.title {
  margin-bottom: var(--spacing-xxxs);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.emoji {
  font-size: 1.5rem;
  margin-bottom: var(--spacing-xxxs);
}

.description {
  margin: 0 0 var(--spacing-xs);
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-secondary);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-xxs);
}

.content {
  margin-bottom: var(--spacing-xs);
}
