.workoutBlock {
  --text-primary: oklch(var(--lch-blue-800));

  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  color: var(--text-primary);
  margin-bottom: 1.75rem;
}

.workoutBlockTitle {
  font-size: 1.5rem;
  font-weight: 500;

  /* Not the cleanest hack, but wanted to have the right hierarchy for the title */
  position: relative;
  top: -.175rem;
}

.sessionTitle {
  font-size: 1rem;
  font-weight: 600;
}

.exercize {
    padding-left: var(--spacing-xxs);
}

.exercizeName {
  font-weight: 600;
}

.exercizeDetails {
    --text-secondary: oklch(var(--lch-blue-800) / 0.6);
    color: var(--text-secondary);
}