.equipmentList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--spacing-xxxs);
  padding: var(--spacing-xxs) 0 var(--spacing-sm);
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xxxs);
}
