.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-xs);
  flex: 1;
}

.fieldsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing-xs);
}

.fieldFullWidth {
  grid-column: 1 / 3;
}