.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.scrubArea {
  cursor: ew-resize;
  font-weight: bold;
  user-select: none;
}

.scrubAreaCursor {
  filter: drop-shadow(0 1px 1px #0008);
}

.group {
  display: flex;
}

.input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid var(--field-border);
  border-bottom: 1px solid var(--field-border);
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
  background: transparent;
  color: var(--text-primary);

  text-align: center;
  font-variant-numeric: tabular-nums;

  &:focus-visible  {
    z-index: 1;
    outline: 1px solid var(--field-border-hover);
    outline-offset: -1px;
  }
}

.decrement,
.increment {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 2.5rem;
  height: 2.5rem;
  margin: 0;
  outline: 0;
  padding: 0;
  border: 1px solid var(--field-border);
  border-radius: var(--border-radius);
  background-color: var(--field-background);
  background-clip: padding-box;
  color: var(--color-gray-900);
  user-select: none;
  transition: all 0.2s var(--animation);

  @media (hover: hover) {
    &:hover {
      background-color: var(--field-background-hover);
      border-color: var(--field-border-hover);
    }
  }

  &:active {
    background-color: var(--background-900);
  }
}

.decrement {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.increment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
