.button {
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: 48px;
  height: 48px;
  display: flex;
  border: none;
  line-height: 1.1em;
  align-items: center;
  justify-content: center;
  box-shadow:
    0px 12px 8px rgba(0, 0, 0, 0.15),
    inset 0px 1px 1px rgba(255, 255, 255, 0.3);
  min-width: min(160px, 100%);
  cursor: pointer;
  gap: var(--spacing-xxxs);
  transition: transform .2s var(--animation), box-shadow .2s var(--animation);

  @media (any-hover: hover) {
    &:where(:not(:active):hover) {
      &:hover {
        transform: translateY(2px);
        box-shadow:
          0px 8px 8px rgba(0, 0, 0, 0.15),
          inset 0px 1px 1px rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.primary {
  composes: button;
  background-color: var(--accent);
  color: var(--text-primary);
}

.secondary {
  composes: button;
  background: var(--background-800);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0px 12px 8px rgba(0, 0, 0, 0.15),
    inset 0px 1px 1px rgba(255, 255, 255, 0.3);
  color: var(--text-primary);
}
