/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background: linear-gradient(var(--main-background));
  color: #fff;
  height: 100dvh;
}

.root {
  isolation: isolate;
}

:root {
  --lch-orange: 0.6393 0.1669 49.17;
  --lch-blue-900: 0.1753 0.0686 264.48;
  --lch-blue-800: 0.1841 0.0823 271.94;
  --lch-blue-500: 0.2118 0.1159 280.97;
  --lch-white: 1 0 0;

  --accent: oklch(var(--lch-orange));
  --background-900: oklch(var(--lch-blue-900));
  --background-800: oklch(var(--lch-blue-800));
  --background-500: oklch(var(--lch-blue-500));
  --text-primary: oklch(var(--lch-white));
  --text-primary-shadow: oklch(var(--lch-white) / 0.25);
  --text-secondary: oklch(var(--lch-white) / 0.75);
  
  --field-background: oklch(var(--lch-white) / 0.05);
  --field-background-hover: oklch(var(--lch-white) / 0.075);
  --field-border: oklch(var(--lch-white) / 0.3);
  --field-border-hover: oklch(var(--lch-white) / 0.4);

  --main-background: 180deg, var(--background-900) 0%, var(--background-500) 100%;

  --base-space: 16px;

  --spacing-xl: 4rem;
  --spacing-lg: 3rem;
  --spacing-md: 2.5rem;
  --spacing-sm: 2rem;
  --spacing-xs: 1.5rem;
  --spacing-xxs: 1rem;
  --spacing-xxxs: 0.5rem;

  --app-width: calc(var(--base-space) * 28);

  --border-radius: .5rem;
}

body,
html {
  font-family: var(--font-barlow-condensed);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: var(--base-space);
}

h2 {
  font-weight: 500;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.app-wrapper {
  max-width: calc(var(--base-space) * 28);
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-sm) var(--spacing-xxs);
  gap: var(--spacing-xs);
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xxs);

  .app-header__subtitle {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-size: 16px;
    line-height: 1.1em;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--accent);
  }
}

.app-main__button-container {
  position: fixed;
  bottom: var(--spacing-sm);
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone {
  background: var(--field-background);
  border: 1px dashed var(--field-border);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
  border-color 150ms ease,
  background 150ms ease,
  box-shadow 150ms ease;
  height: 0;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1.5 / 1;
  height: auto;
  width: 100%;
  padding: var(--spacing-xxs);

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
    box-shadow: 0 16px 32px -8px rgba(0, 0, 0, .25);
    border-radius: 4px;
    object-fit: contain;
    display: block;
  }

  .dropzone--active,
  &:hover {
    background: var(--field-background-hover);
    border-color: var(--field-border-hover);
  }
}

.dropzone__text {
  color: var(--text-secondary);
  margin-bottom: var(--spacing-xxs);
}

.dropzone__preview {
  margin-top: var(--spacing-sm);
}

.label {
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--text-secondary);
}