.select {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--field-background);
  border: 1px solid var(--field-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-xxxs) var(--spacing-xxs);
  color: var(--text-primary);
  cursor: default;

  @media (any-hover: hover) {
    &:hover {
      background: var(--field-background-hover);
      border-color: var(--field-border-hover);
    }
  }

  &[data-popup-open] {
    background-color: var(--field-background-hover);
    border-color: var(--field-border-hover);
  }

  &:focus-visible {
    outline: 1px solid var(--field-border-hover);
    outline-offset: -1px;
  }
}

.positioner {
  outline: none;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.popup {
  box-sizing: border-box;
  padding-block: var(--spacing-xxxs);
  border-radius: var(--border-radius);
  background-clip: padding-box;
  color: var(--text-primary);
  transform-origin: 50% 50%;
  transition:
    transform 150ms,
    opacity 150ms;
  overflow-y: auto;
  background-color: var(--background-800);
  border: 1px solid var(--field-border);
  max-height: 320px;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-side='none'] {
    transition: none;
    transform: none;
    opacity: 1;
    scroll-padding-block: 1.25rem;
  }
}

.item {
  box-sizing: border-box;
  outline: 0;
  line-height: 1em;
  padding-block: var(--spacing-xxxs);
  padding-left: var(--spacing-xxxs);
  padding-right: var(--spacing-xxxs);
  min-width: var(--anchor-width);
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: var(--spacing-xxs) 1fr;
  cursor: pointer;
  scroll-margin-block: var(--spacing-xxxs);

  @media (pointer: coarse) {
    padding-block: 0.75rem;
    font-size: 1rem;
  }

  [data-side='none'] & {
    font-size: 1rem;
    padding-right: 3rem;
    min-width: calc(var(--anchor-width) + 1rem);
  }

  &[data-highlighted] {
    z-index: 0;
    position: relative;
    color: var(--color-gray-50);
  }

  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--field-background-hover);
  }
}

.itemIndicator {
  grid-column-start: 1;
}

.itemText {
  grid-column-start: 2;
  color: var(--text-primary);
}

.scrollArrow {
  width: 100%;
  background: canvas;
  z-index: 1;
  text-align: center;
  cursor: default;
  border-radius: var(--border-radius);
  height: var(--spacing-xxs);
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }

  &[data-direction='up'] {
    &::before {
      top: -100%;
    }
  }

  &[data-direction='down'] {
    bottom: 0;

    &::before {
      bottom: -100%;
    }
  }
}
