.logo {
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-shadow: 4px 4px 0px var(--text-primary-shadow);
  line-height: 1em;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
