.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.sparkles {
  font-size: var(--spacing-xl);
  color: var(--accent);
  line-height: 1em;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--text-secondary);
}

.loaderContainer {
  justify-content: center;
  padding-bottom: var(--spacing-lg);
}

.loaderText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xxxs);
}
