.toast {
  --gap: 0.75rem;
  --offset-y: calc(
    var(--toast-offset-y) + (var(--toast-index) * var(--gap)) + var(--toast-swipe-movement-y)
  );
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-sizing: border-box;
  background: var(--background-900);
  color: var(--text-primary);
  border: 1px solid var(--field-border);
  padding: var(--spacing-xxs);
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  border-radius: var(--border-radius);
  top: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  -webkit-user-select: none;
  user-select: none;
  transition:
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.5s;
  cursor: default;
  z-index: calc(1000 - var(--toast-index));
  transform: translateX(var(--toast-swipe-movement-x))
    translateY(calc(var(--toast-swipe-movement-y) + (min(var(--toast-index), 10) * 20%)))
    scale(calc(max(0, 1 - (var(--toast-index) * 0.1))));

  &::after {
    bottom: 100%;
  }

  &[data-expanded] {
    transform: translateX(var(--toast-swipe-movement-x)) translateY(calc(var(--offset-y)));
  }

  &[data-starting-style],
  &[data-ending-style] {
    transform: translateY(-150%);
  }

  &[data-limited] {
    opacity: 0;
  }

  &[data-ending-style] {
    opacity: 0;

    &[data-swipe-direction='up'] {
      transform: translateY(calc(var(--toast-swipe-movement-y) - 150%));
    }
    &[data-swipe-direction='left'] {
      transform: translateX(calc(var(--toast-swipe-movement-x) - 150%)) translateY(var(--offset-y));
    }
    &[data-swipe-direction='right'] {
      transform: translateX(calc(var(--toast-swipe-movement-x) + 150%)) translateY(var(--offset-y));
    }
    &[data-swipe-direction='down'] {
      transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: calc(var(--gap) + 1px);
  }
}

.title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0;
}

.description {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}
